<a href="https://colab.research.google.com/github/iiconic07/iiconic07/blob/main/EXTRACTING_DATA_FROM_PDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
!pip install "camelot-py"[cv]

Collecting camelot-py[cv]
  Downloading camelot_py-0.10.1-py3-none-any.whl (40 kB)
     |████████████████████████████████| 40 kB 12 kB/s
Collecting pdfminer.six>=20200726
  Downloading pdfminer.six-20220319-py3-none-any.whl (5.6 MB)
     |████████████████████████████████| 5.6 MB 13.7 MB/s
Collecting PyPDF2>=1.26.0
  Downloading PyPDF2-1.26.0.tar.gz (77 kB)
     |████████████████████████████████| 77 kB 2.6 MB/s
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (1.21.5)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (1.3.5)
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (7.1.2)
Requirement already satisfied: tabulate>=0.8.9 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (0.8.9)
Requirement already satisfied: openpyxl>=2.5.8 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (3.0.9)
Requirement already satisfied: chardet>=3.0.4 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (3.0.4)
Requirement already satisfied: opencv-python>=3.4.2.17 in /usr/local/lib/python3.7/dist-packages (from camelot-py[cv]) (4.1.2.30)
Collecting pdftopng>=0.2.3
  Downloading pdftopng-0.2.3-cp37-cp37m-manylinux2010_x86_64.whl (11.7 MB)
     |████████████████████████████████| 11.7 MB 41.8 MB/s
Collecting ghostscript>=0.7
  Downloading ghostscript-0.7-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: setuptools>=38.6.0 in /usr/local/lib/python3.7/dist-packages (from ghostscript>=0.7->camelot-py[cv]) (57.4.0)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl>=2.5.8->camelot-py[cv]) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->camelot-py[cv]) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->camelot-py[cv]) (2018.9)
Collecting cryptography
  Downloading cryptography-36.0.2-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 41.4 MB/s
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.4->camelot-py[cv]) (1.15.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->pdfminer.six>=20200726->camelot-py[cv]) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->pdfminer.six>=20200726->camelot-py[cv]) (2.21)
Building wheels for collected packages: PyPDF2
  Building wheel for PyPDF2 (setup.py) ... done
  Created wheel for PyPDF2: filename=PyPDF2-1.26.0-py3-none-any.whl size=61102 sha256=b60cc29fc320e33db761c41d70b11f6e990779f7fb05f20bb40a4ebb69c0eb4e
  Stored in directory: /root/.cache/pip/wheels/80/1a/24/648467ade3a77ed20f35cfd2badd32134e96dd25ca811e64b3
Successfully built PyPDF2
Installing collected packages: cryptography, PyPDF2, pdfminer.six, pdftopng, ghostscript, camelot-py
Successfully installed PyPDF2-1.26.0 camelot-py-0.10.1 cryptography-36.0.2 ghostscript-0.7 pdfminer.six-20220319 pdftopng-0.2.3

In [3]:
!apt-get install ghostscript

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  fonts-droid-fallback fonts-noto-mono gsfonts libcupsfilters1 libcupsimage2
  libgs9 libgs9-common libijs-0.35 libjbig2dec0 poppler-data
Suggested packages:
  fonts-noto ghostscript-x poppler-utils fonts-japanese-mincho
  | fonts-ipafont-mincho fonts-japanese-gothic | fonts-ipafont-gothic
  fonts-arphic-ukai fonts-arphic-uming fonts-nanum
The following NEW packages will be installed:
  fonts-droid-fallback fonts-noto-mono ghostscript gsfonts libcupsfilters1
  libcupsimage2 libgs9 libgs9-common libijs-0.35 libjbig2dec0 poppler-data
0 upgraded, 11 newly installed, 0 to remove and 39 not upgraded.
Need to get 14.1 MB of archives.
After this operation, 49.9 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-droid-fallback all 1:6.0.1r16-1.1 [1,805 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/main amd64 poppler-data all 0.4.8-2 [1,479 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-noto-mono all 20171026-2 [75.5 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsimage2 amd64 2.2.7-1ubuntu2.8 [18.6 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/main amd64 libijs-0.35 amd64 0.35-13 [15.5 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 libjbig2dec0 amd64 0.13-6 [55.9 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9-common all 9.26~dfsg+0-0ubuntu0.18.04.15 [5,092 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgs9 amd64 9.26~dfsg+0-0ubuntu0.18.04.15 [2,265 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 ghostscript amd64 9.26~dfsg+0-0ubuntu0.18.04.15 [51.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic/main amd64 gsfonts all 1:8.11+urwcyr1.0.7~pre44-4.4 [3,120 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libcupsfilters1 amd64 1.20.2-0ubuntu3.1 [108 kB]
Fetched 14.1 MB in 2s (8,193 kB/s)
Selecting previously unselected package fonts-droid-fallback.
(Reading database ... 155335 files and directories currently installed.)
Preparing to unpack .../00-fonts-droid-fallback_1%3a6.0.1r16-1.1_all.deb ...
Unpacking fonts-droid-fallback (1:6.0.1r16-1.1) ...
Selecting previously unselected package poppler-data.
Preparing to unpack .../01-poppler-data_0.4.8-2_all.deb ...
Unpacking poppler-data (0.4.8-2) ...
Selecting previously unselected package fonts-noto-mono.
Preparing to unpack .../02-fonts-noto-mono_20171026-2_all.deb ...
Unpacking fonts-noto-mono (20171026-2) ...
Selecting previously unselected package libcupsimage2:amd64.
Preparing to unpack .../03-libcupsimage2_2.2.7-1ubuntu2.8_amd64.deb ...
Unpacking libcupsimage2:amd64 (2.2.7-1ubuntu2.8) ...
Selecting previously unselected package libijs-0.35:amd64.
Preparing to unpack .../04-libijs-0.35_0.35-13_amd64.deb ...
Unpacking libijs-0.35:amd64 (0.35-13) ...
Selecting previously unselected package libjbig2dec0:amd64.
Preparing to unpack .../05-libjbig2dec0_0.13-6_amd64.deb ...
Unpacking libjbig2dec0:amd64 (0.13-6) ...
Selecting previously unselected package libgs9-common.
Preparing to unpack .../06-libgs9-common_9.26~dfsg+0-0ubuntu0.18.04.15_all.deb ...
Unpacking libgs9-common (9.26~dfsg+0-0ubuntu0.18.04.15) ...
Selecting previously unselected package libgs9:amd64.
Preparing to unpack .../07-libgs9_9.26~dfsg+0-0ubuntu0.18.04.15_amd64.deb ...
Unpacking libgs9:amd64 (9.26~dfsg+0-0ubuntu0.18.04.15) ...
Selecting previously unselected package ghostscript.
Preparing to unpack .../08-ghostscript_9.26~dfsg+0-0ubuntu0.18.04.15_amd64.deb ...
Unpacking ghostscript (9.26~dfsg+0-0ubuntu0.18.04.15) ...
Selecting previously unselected package gsfonts.
Preparing to unpack .../09-gsfonts_1%3a8.11+urwcyr1.0.7~pre44-4.4_all.deb ...
Unpacking gsfonts (1:8.11+urwcyr1.0.7~pre44-4.4) ...
Selecting previously unselected package libcupsfilters1:amd64.
Preparing to unpack .../10-libcupsfilters1_1.20.2-0ubuntu3.1_amd64.deb ...
Unpacking libcupsfilters1:amd64 (1.20.2-0ubuntu3.1) ...
Setting up libgs9-common (9.26~dfsg+0-0ubuntu0.18.04.15) ...
Setting up fonts-droid-fallback (1:6.0.1r16-1.1) ...
Setting up gsfonts (1:8.11+urwcyr1.0.7~pre44-4.4) ...
Setting up poppler-data (0.4.8-2) ...
Setting up fonts-noto-mono (20171026-2) ...
Setting up libcupsfilters1:amd64 (1.20.2-0ubuntu3.1) ...
Setting up libcupsimage2:amd64 (2.2.7-1ubuntu2.8) ...
Setting up libjbig2dec0:amd64 (0.13-6) ...
Setting up libijs-0.35:amd64 (0.35-13) ...
Setting up libgs9:amd64 (9.26~dfsg+0-0ubuntu0.18.04.15) ...
Setting up ghostscript (9.26~dfsg+0-0ubuntu0.18.04.15) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
Processing triggers for libc-bin (2.27-3ubuntu1.3) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

In [4]:
import camelot as cam

In [6]:
# extracting data from pdf

table = cam.read_pdf("Cap1.pdf", pages = '2',flavor = 'stream')

In [7]:
table

In [10]:
table[0].df.to_csv("project-excel.csv")

In [11]:
df = pd.read_csv("project-excel.csv" )

In [12]:
df

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,11,12,13,14,15,16,17,18,19,20
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,D i r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,Cut Off List of Maharashtra State Candidature ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,"1002 - Government College of Engineering, Amra...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,NaN,100246610 - Instrumentation Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,Status:,NaN,Government Autonomous Home University : Sant G...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,NaN,State Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,Stage,GOPENS,GSCS,GSTS,GNT2S,GOBCS,GSEBCS,LOPENS,LSCS,...,LNT2S,LOBCS,LSEBCS,EWS,TFWS,NaN,NaN,NaN,NaN,NaN
9,9,NaN,13660,25951,54048,22245,16212,29954,14218,25812,...,31875,15197,37467,57153,11071,NaN,NaN,NaN,NaN,NaN
10,10,I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,NaN,(93.5194774),(85.9439612),(49.2624002),(88.5891094),(92.1547185),(82.5517986),(93.2348660),(86.0540400),...,(80.7275334),(92.7054742),(74.6601682),(43.5611190),(94.8226791),NaN,NaN,NaN,NaN,NaN
12,12,NaN,100261210 - Mechanical Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,Status:,NaN,Government Autonomous Home University : Sant G...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,NaN,State Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,Stage,GOPENS,GSCS,GSTS,GVJS,GNT1S,GNT2S,GNT3S,GOBCS,...,LSCS,LSTS,LVJS,LNT2S,LOBCS,LSEBCS,PWDOPENS,PWDOBCS,EWS,TFWS
16,16,NaN,7194,14267,33295,13821,9776,14168,13239,8849,...,18357,85591,14226,21098,12158,16089,48224,30470,23834,5197
17,17,I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,NaN,(96.6722913),(93.2066221),(79.3171498),(93.4332974),(95.4418719),(93.2587647),(93.7291339),(95.8901530),...,(90.9543535),(3.4135266),(93.2290724),(89.3267093),(94.2751823),(92.2209830),(59.4026781),(82.1002585),(87.4789076),(97.6014426)
19,19,"Legends: Starting character G-General, L-Ladie...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,. Maharashtra State Seats - Cut Off Indicates ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df1 = df.drop("Unnamed: 0",axis=1)

In [14]:
df1

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Government of Maharashtra,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,D i r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,State Common Entrance Test Cell,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Cut Off List of Maharashtra State Candidature ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,"1002 - Government College of Engineering, Amra...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,100246610 - Instrumentation Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Status:,NaN,Government Autonomous Home University : Sant G...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,State Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Stage,GOPENS,GSCS,GSTS,GNT2S,GOBCS,GSEBCS,LOPENS,LSCS,LSTS,...,LNT2S,LOBCS,LSEBCS,EWS,TFWS,NaN,NaN,NaN,NaN,NaN
9,NaN,13660,25951,54048,22245,16212,29954,14218,25812,37498,...,31875,15197,37467,57153,11071,NaN,NaN,NaN,NaN,NaN
10,I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,(93.5194774),(85.9439612),(49.2624002),(88.5891094),(92.1547185),(82.5517986),(93.2348660),(86.0540400),(74.6087498),...,(80.7275334),(92.7054742),(74.6601682),(43.5611190),(94.8226791),NaN,NaN,NaN,NaN,NaN
12,NaN,100261210 - Mechanical Engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Status:,NaN,Government Autonomous Home University : Sant G...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,State Level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Stage,GOPENS,GSCS,GSTS,GVJS,GNT1S,GNT2S,GNT3S,GOBCS,GSEBCS,...,LSCS,LSTS,LVJS,LNT2S,LOBCS,LSEBCS,PWDOPENS,PWDOBCS,EWS,TFWS
16,NaN,7194,14267,33295,13821,9776,14168,13239,8849,11544,...,18357,85591,14226,21098,12158,16089,48224,30470,23834,5197
17,I,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,(96.6722913),(93.2066221),(79.3171498),(93.4332974),(95.4418719),(93.2587647),(93.7291339),(95.8901530),(94.5847787),...,(90.9543535),(3.4135266),(93.2290724),(89.3267093),(94.2751823),(92.2209830),(59.4026781),(82.1002585),(87.4789076),(97.6014426)
19,"Legends: Starting character G-General, L-Ladie...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,. Maharashtra State Seats - Cut Off Indicates ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

In [44]:
#cleaning data (program-name)

program = df1.loc[4]

In [45]:
df2=df1.loc[5]

In [46]:
df3=df2.iloc[1:2]

In [47]:
df3.dropna

<bound method Series.dropna of 1    100246610 - Instrumentation Engineering
Name: 5, dtype: object>

In [70]:
#closing-Rank

df4=df1.loc[9]

In [49]:
df5=df4.iloc[1:16]

In [50]:
df5.dropna

<bound method Series.dropna of 1      7194
2     14267
3     33295
4     13821
5      9776
6     14168
7     13239
8      8849
9     11544
10    11926
11    18357
12    85591
13    14226
14    21098
15    12158
Name: 16, dtype: object>

In [68]:
#closing percentile

df6=df1.iloc[11]

In [52]:
df7=df6.iloc[1:16]

In [53]:
df7.dropna

<bound method Series.dropna of 1     (93.5194774)
2     (85.9439612)
3     (49.2624002)
4     (88.5891094)
5     (92.1547185)
6     (82.5517986)
7     (93.2348660)
8     (86.0540400)
9     (74.6087498)
10    (88.5735391)
11    (80.7275334)
12    (92.7054742)
13    (74.6601682)
14    (43.5611190)
15    (94.8226791)
Name: 11, dtype: object>

In [54]:
#college NAME

df8=df1.loc[4]

In [55]:
df9=df8.iloc[1:2]

In [56]:
df9.dropna

<bound method Series.dropna of 1    1002 - Government College of Engineering, Amra...
Name: 4, dtype: object>

In [57]:
df9

1    1002 - Government College of Engineering, Amra...
Name: 4, dtype: object

In [69]:
#Category

df10=df1.loc[8]

In [59]:
df11 = df10.iloc[1:16]

In [60]:
df11.dropna

<bound method Series.dropna of 1     GOPENS
2       GSCS
3       GSTS
4      GNT2S
5      GOBCS
6     GSEBCS
7     LOPENS
8       LSCS
9       LSTS
10     LNT1S
11     LNT2S
12     LOBCS
13    LSEBCS
14       EWS
15      TFWS
Name: 8, dtype: object>

In [78]:
#arranging the useful data 

CAP= pd.DataFrame({ "Institute Name": df9, "Category": df11 , "Program":df3,"Closing-Rank":df5,"Closing-Percentile":df7})

In [73]:
CAP

,Institute Name,Category,Program,Closing-Rank,Closing-Percentile
1,"1002 - Government College of Engineering, Amra...",GOPENS,100246610 - Instrumentation Engineering,7194,(93.5194774)
10,NaN,LNT1S,NaN,11926,(88.5735391)
11,NaN,LNT2S,NaN,18357,(80.7275334)
12,NaN,LOBCS,NaN,85591,(92.7054742)
13,NaN,LSEBCS,NaN,14226,(74.6601682)
14,NaN,EWS,NaN,21098,(43.5611190)
15,NaN,TFWS,NaN,12158,(94.8226791)
2,NaN,GSCS,NaN,14267,(85.9439612)
3,NaN,GSTS,NaN,33295,(49.2624002)
4,NaN,GNT2S,NaN,13821,(88.5891094)
5,NaN,GOBCS,NaN,9776,(92.1547185)
6,NaN,GSEBCS,NaN,14168,(82.5517986)
7,NaN,LOPENS,NaN,13239,(93.2348660)
8,NaN,LSCS,NaN,8849,(86.0540400)
9,NaN,LSTS,NaN,11544,(74.6087498)

In [84]:
#reseting index

del CAP['index']

In [85]:
CAP

,Institute Name,Category,Program,Closing-Rank,Closing-Percentile
0,"1002 - Government College of Engineering, Amra...",GOPENS,100246610 - Instrumentation Engineering,7194,(93.5194774)
1,NaN,LNT1S,NaN,11926,(88.5735391)
2,NaN,LNT2S,NaN,18357,(80.7275334)
3,NaN,LOBCS,NaN,85591,(92.7054742)
4,NaN,LSEBCS,NaN,14226,(74.6601682)
5,NaN,EWS,NaN,21098,(43.5611190)
6,NaN,TFWS,NaN,12158,(94.8226791)
7,NaN,GSCS,NaN,14267,(85.9439612)
8,NaN,GSTS,NaN,33295,(49.2624002)
9,NaN,GNT2S,NaN,13821,(88.5891094)
10,NaN,GOBCS,NaN,9776,(92.1547185)
11,NaN,GSEBCS,NaN,14168,(82.5517986)
12,NaN,LOPENS,NaN,13239,(93.2348660)
13,NaN,LSCS,NaN,8849,(86.0540400)
14,NaN,LSTS,NaN,11544,(74.6087498)

In [86]:
CAP.to_excel("EXTRACTED DATA.xlsx")